/* your styles go here */
.tag-p {
    margin-top: 10px
}

.xx-small-font {
    font-size: xx-small;
}

.span-right {
    float: right;
}

a {
    text-decoration: none !important;
}

.img-nitrite {
    background-color: #f2b3ae;
}

.img-potassium-nitrite {
    background-color: #97bdf2;
}

pre {
    text-align: left;
}

.logo-md {
    width: auto;
    height: 150px;
    margin-left: 21%;
}

.logo-xs {
    width: auto;
    height: 150px;
    margin-left: 15%;
}

.product-logo {
    width: auto;
    height: 64px;
    margin-bottom: 10px;
}

.kno2-product-logo {
    width: auto;
    height: 35px;
    margin-bottom: 10px;
}

.doc-details {
    margin-top: 100px;
    margin-bottom: 200px;
}

.github-badge {
    float: right
}

.label-release {
    position: absolute;
    margin-left: 5px;
    margin-top: 3px;
}

pre {
    margin-bottom: 30px !important;
}